# Data Science Tools and Ecosystem

In [ ]:
## Author
Michael Quinn

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* Create a table of Data Science Tools
* Present some examples of python code

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) Scala
4) Julia

Some of the commonly used libraries used by Data Scientists include:
1) Numpy
2) Matplotlib
3) Pandas
4) dplyr

| Data Science Tools|
|------------------|
| Tensor Flow |
| Apache Spark |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335